.Comingsooncontainer {
    text-align: center;
    margin-top: clamp(80px, 15vw, 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: clamp(350px, 80vh, 500px);
    width:100%;
    font-size: clamp(1.5rem, 5vw, 30px);
    padding: clamp(20px, 3vw, 40px);
}
.Comingsooncontent{
 
    max-width: 1300px;
}
.Heading{
    font-weight: 700;
}