*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* navbar */
.navbar {
    position: fixed;
    top:15px;
    left: 15px;
    right: 15px;
    width: 100%;
    border-radius: 40px;
    z-index: 1000;
    backdrop-filter: blur(7px);
    background: rgba(241, 241, 241, 0.82);
}


.nav-container{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 40px;
}

/* BRAND */

.brand{
    display: flex;
    align-items: center;
    gap:15px;
}
.logo{
    width: 100px;
    height: auto;
    object-fit: contain;
}


/* Links */

.nav_links{
    display: flex;
    align-items: center;
    gap:30px;
}

.nav_links a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    
    position: relative;
    transition: .3s;
}

/* underline animation */
.nav_links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: blue;    
    transition: .3s;
}

.nav_links a:hover{
    color: blue;
}

.nav_links a:hover::after{
    width: 100%;
}


.login-btn , .signup-btn {
    border: none;
    border-radius: 5px;

    padding:10px;
    height:10px;
    background-color: rgba(33, 82, 243, 0.977);
    color:white;
    width:5px;
    text-decoration: none;
    margin:5px;

}

.nav-buttons a {
    display:inline-block;
transition: transform 0.3s ease;
width:auto;
height:auto;
/*transition:background-color 0.3s ease;*/

}

.nav-buttons a:hover{
    transform:translateY(1.1px) scale(1.05);
   /* background-color: rgb(4, 4, 109);*/
    
}
.navbar{
    box-shadow: 1px 10px 70px rgba(15, 23, 42, 0.3);
}