*{
    margin:0;
    padding: 0;
}
.card{
display:flex;
justify-content:  baseline;
margin:10px;
padding:10px;

border: 1px solid lightgray;
gap:10px;
border-radius:10px;
width:300px;

    

}


.content h4{
    color:black;
    font-size:medium;
    font-weight:600;

}
.content p{
    color:rgb(133, 131, 131);
    line-height:1.3;
}


