.nav_links{
    display:flex;
    justify-content: space-between ;
    background-color: aqua;
    text-transform:uppercase;
    color:black;
    padding:15px 15px;;
    margin: 3px;
    align-items:center;
}
.navbar{
    display:flex;
    height:10px;
    width:100%;
}
.nav-buttons{
    display:flex;
background-color: aqua;
    border:1px solid black;
    border-radius: 4px;
}
.brand {
    display:block;

    width:3px;
    height:auto;
    margin:0px;
    padding:0px;


}

